<div class="uk-margin-top" style="background: black;width: 30rem;margin: auto;">
  <h2 class="uk-text-center" style="color: white;padding: 10px 0px;"><b>Convert Text to Pdf</b></h2>
</div><br>
<div class="uk-align-center uk-margin-top" style="margin:auto;width: 30rem;">
 <textarea id="contentToConvert" class="uk-textarea" rows="5" style="overflow: hidden;width:30rem;border-radius: 4px;"
  name="content" [(ngModel)]="contentDes"  >fggthgtrh</textarea><br>
 <button class="uk-button uk-button-primary uk-margin-top uk-align-center" 
   style="border-radius: 4px;"
  [disabled]="contentDes===''"
 (click)="downloadPdf()">Download Pdf</button>
</div>
